body{
    
    margin: 0;
}

button{
    width: 150px;
    height: 35px;
    background-color: yellowgreen;
    border-radius: 0 5px 5px 0;
    font-size: medium;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    padding: 0 15px;
}

.search-form{
    background-color: rgb(81, 185, 81);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgb(32, 95, 60);
}

.position{
    text-align: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -15px;
    margin-left: -15px; */
}

.photo-card{
    width: 450px;
    flex-basis: calc(100% / 4 - 20px);
    margin-top: 15px;
    margin-left: 15px;
    border-top: 1px solid rgb(55, 124, 46);
    border-left: 1px solid rgb(55, 124, 46); 
    border-right: 2px solid rgb(55, 124, 46);
    border-bottom: 2px solid rgb(55, 124, 46);
    background-color: rgb(219, 255, 227);
}
img{
    
    width: 100%;
    height: 300px;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.load-more{
    margin: 15px 0;
    align-self: center;
}